<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cats</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h3>Cats available:</h3>
       
       <table class="table table-striped">
       
       <tr>
       <th>Id</th>
       <th>Nickname</th>
       <th>Age</th>
       <th>Photo</th>
       <th>Actions</th>
       
         <tr th:each="cat: ${cats}">
        <td th:text="${cat.id}"/>
        <td th:text="${cat.nickname}"/>
        <td th:text="${cat.age}"/>
          <td> <img th:src="${cat.photo}" width="80" height = "80"/>
          </td>
        
       
        <td>
        <a th:href="@{/cats/edit/{id}(id=${cat.id})}" class="btn btn-outline-primary">
 
    <span>Edit</span>
</a>
<a th:href="@{/cats/delete/{id}(id=${cat.id})}" class="btn btn-outline-primary">
 
    <span>Delete</span>
</a>
</td>
    </tr>
        </tr>
     </table>  
     
     </div>
     <div class="wrapper">
     <a th:href="@{/cats/add}" class="btn btn-outline-primary">Generate a new cat</a>
     
    
       
    </div>
</body>
</html>