<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cats</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h3>Cats available:</h3>
       
       <table class="table table-striped">
       
       <tr>
       <th>Id</th>
       <th>Nickname</th>
       <th>Actions</th>
       
         <tr th:each="cats: ${cats}">
        <td th:text="${cats.id}"/>
        <td th:text="${cats.nickname}"/>
        <td>
        <a th:href="@{/cats/edit/{id}(id=${cats.id})}" class="btn btn-outline-primary">
    <span>Edit</span>
</a>
</td>
    </tr>
        </tr>
     </table>  
     
     </div>
     <div>
     <a th:href="@{/cats/add}" class="btn btn-outline-primary">Generate a new cat</a>
    
       
    </div>
</body>
</html>