<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add a Cat</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h3>Choose a name:</h3>


		<form action="#" th:action="@{/cats/edit-cat/{id}(id=${cat.id})}"
			th:object="${cat}" method="post">
			<div class="row">
				<div class="form-group col-md-8">
					<label for="nickname" class="col-form-label">Nickname:</label><br>
					<input type="text" th:field="*{nickname}" class="form-control"
						id="nickname"> <label for="age" class="col-form-label">Age:</label><br>
						<span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="text-danger"/><br>

					<input type="number" th:field="*{age}" class="form-control"
						id="age">
						
					<span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger"/><br>
							<label for="photo" class="col-form-label">Photo:</label><br> 
							<input type="text"th:field="*{photo}" class="form-control" id="age">



				</div>
				<div class="form-group col-md-8">
					<input type="submit" class="btn btn-primary" value="Edit the cat">
				</div>

			</div>
</body>
</html>